.navbar-wrapper {
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  animation: slideUp 0.5s ease-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
}

.navbar-container {
  .navbar-logo {
    // width: 5%;
    // width: fit-content;
    margin: auto;
    padding: 15px;
    cursor: pointer;
  }
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  //   border-top: 1px solid #e5e5e5;
  //   border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;

  .navbar-center {
    width: 70%;
    display: flex;
    // justify-content: center;
    align-items: center;
    ul {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0px;
      padding-left: 0px;
      margin-left: 50px;
      height: 100%;
      li {
        list-style-type: none;
        font-weight: 500;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        padding: 0 8px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 3px;
          background-color: #3c3c43;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transform: translateX(-50%);
        }

        &:hover {
          color: #3c3c43;
          
          &::after {
            width: 60%;
          }
        }

        &.selected-category {
          font-weight: bold;
          border-bottom: 3px solid #3c3c43;
          
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .navbar-right {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover {
        transform: scale(1.1);
      }
    }

    .cartIcon-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 4px;
      cursor: pointer;
    }

    .cartIcon-itemCount {
      font-size: 10px;
      font-weight: 700;
      position: absolute;
      top: -6px;
      left: 1px;
      text-align: center;
      width: 20px;
    }
  }
}
