.category__wrapper {
  margin-top: 60px;
  // border: 1px solid black;
  background-color: #f8f9fa;
  padding: 20px;
}

.category {
  &__list {
    padding: 20px;
    max-width: 600px;
    margin: 30px auto;
    height: 90vh;
    background-color: #fff;
    overflow-y: scroll;
  }
}
