version: 1
frontend:
  phases:
    preBuild:
      commands:
        - npm install
    build:
      commands:
        - npm run build
        - npm run export  # ⚡ Xuất site tĩnh (static)
  artifacts:
    baseDirectory: out  # ⚡ Đổi thành thư mục `out`
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*
