.accordion-category-header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 9px;
        cursor: pointer;
    }
    &__title {
        font-size: 14px;
    }
}

.accordion-category-items {
    &__wrapper  {
        list-style: none;
        padding-left: 20px;
    }
}

.accordion-category-item {
    &__row {
        font-size: 14px;
        cursor: pointer;
        margin-bottom: 10px;
        padding: 5px 5px 5px 10px;

        &__name {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &__list {
            margin-top: 10px;
        }

        &.selected {
            background-color: #edfcf5;
            border-left: 3px solid #11a362;
            color: #15a362;
            font-weight: 500;
        }
    }
}