.profile-page {
  &__wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    padding: 32px 50px 50px;
    min-height: calc(100vh - 200px);
  }

  &__title {
    font-size: 24px;
    font-weight: 300;
    color: #3c3c43;
    margin-bottom: 32px;
    letter-spacing: 0.5px;
    margin: 0 0 32px 0;
  }

  &__content {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #e8e8e8;
  }
}

