.user-dashboard {
  &__wrapper {
    padding: 20px;
  }

  &__title {
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
      font-weight: 600;
      color: #3c3c43;
    }
  }

  &__table {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(88, 88, 88, 0.3);
  }
}

