.order-dashboard {
  &__wrapper {
    padding: 32px 50px 50px;
    max-width: 1400px;
    margin: 0 auto;
    min-height: calc(100vh - 60px);
  }

  &__title {
    margin-bottom: 32px;

    h1 {
      font-size: 24px;
      font-weight: 300;
      color: #3c3c43;
      letter-spacing: 0.3px;
      margin: 0;
    }
  }

  &__table {
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    padding: 0;
    overflow: hidden;
  }
}

